.logo {
    font-weight: 900px; 
}
body,
.footer-1 {
    background-color: $gray-900;
    $gradient: linear-gradient(180deg, rgba($white, .15), rgba($white, 0));
   
}
.navbar {
    background-color: $gray-800;
    border-bottom: rgba(255, 255, 255, 0.13) 0.1px solid;
}
.footer {
    background-color: $gray-800;
    border-top: rgba(255, 255, 255, 0.13) 0.1px solid;
}


